out/
src/librfc/dynarray_*
src/librfc/stack_*
src/rfc/cmdline.*
tests/generated
prebuild_exe
tests/lib/munit.h
tests/lib/munit.c
tests/file.tmp
compile_commands.json
.cache/
rfc.spall
**/.DS_Store

build/
